RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)/?$ $1.php [L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # .asp から .php へのリダイレクト
  RewriteRule ^(.+)\.asp$ $1.php [L,R=301]
  
 
</IfModule>


ErrorDocument 404 /404.php
