h1{
    font-size: 110%;
    background-color: antiquewhite;
    margin:0px;
    padding:5px 10px;
    text-align: center;
}

#container{
	margin: 0 auto;
}

#inputField{
	width: 100%;
    padding:5px 10px;
    background-color: #000;
    height: 50px;
    position: fixed;
    bottom: 0;
    left:0;
}

#inputField textarea{
    height: 2.0em;
}


#talkField{
	width: 100%;
	min-height: 120vh;
	padding: 10px 0px 0;
	background-color: #7897C5;
	border: 1px solid grey;
	word-break: break-all;
    padding-bottom: 60px;
}
#message{
	width: 70%;
    height: 3.0em;
    vertical-align: top;
}

.user{
	clear: both;
}

.indate{
    text-align: center;
    font-size: 80%;
    background-color: #777;
    color: #fff;
    border:1px solid #fff;
    border-radius: 10px;
    padding:2px 5px;
    width: 10em;
    margin:0 auto;
}

.intime_right{
    position: relative;
    margin: 0 10px;
    padding: 5px;
    text-align: right;
    font-size: 60%;
}

.intime_left{
    position: relative;
    margin: 0 10px;
    padding: 5px;
    text-align: left;
    font-size: 60%;
}


#greet{
    font-size: 100%;
    text-align: right;
}

.reset {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: normal;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.button-glow {
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  margin: 0 10px;
  padding: 5px 10px;
  line-height: 1.0;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  animation: 1s glow infinite alternate;
  background: linear-gradient(#77a2ff, #447fff);
  /*　青 */
  box-shadow: 0 0 10px 3px rgba(68, 127, 255, 0.5);
}

/*******************************
* 左
********************************/
.left_balloon {
    position: relative;
    background: #85e249;
    /*border: 1px solid #777;*/
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
    font-size: 90%;
}
.left_balloon:after,
.left_balloon:before {
    left: 15px;
    top: -5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
/*.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}*/

/*******************************
* 右
********************************/
.right_balloon {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 0 10px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
    font-size: 90%;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* 蜑ｲ繧願ｾｼ縺ｿ繧定ｧ｣髯､
********************************/
.clear_balloon{
  clear: both;
} 